
<header>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>This is header</h1>
            </div>
            <div class="col-3">
                <% if(locals.user) { %>
                    <a href="/employees/profile"> <%= user.name %> </a>
                <% } else { %>
                    <a href="/employees/sign_in"><button type="submit">Sign In</button></a>
                <% } %>
            </div>
            <div class="col-3">
                <% if(locals.user) { %>
                    <a href="/employees/destroy">Sign Out</a>
                <% } else { %>
                    <a href="/employees/sign_up"><button type="submit">Sign Up</button></a>
                <% } %>
            </div>
        </div>
    </div>
</header>