

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/interviews/create" method="post">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text">Name</span>
                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text">Date</span>
                        <input type="date" name="date" class="form-control" placeholder="Date" required>
                    </div>
                    <div>
                        <button type="submit">Create Interview</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>