
<section>
    <div class="container">
        <div class="row">
            <form action="/employees/create_session" method="post">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Email</span>
                    <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Password</span>
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
                  <div>
                      <button type="submit">Sign In</button>
                  </div>
                  <div>
                    <a href="/employees/auth/google">Sign in/Sign Up with google</a>
                </div>
            </form>
        </div>
    </div>
</section>